@import '../../../assets/scss/helpers/all';

.text-input {
    display: block;

    &__label {
        display: block;
        margin-bottom: rem(5);
        font-size: rem(13);
        font-weight: font-weight('bold');
    }

    &__input {
        display: block;
        width: 100%;
        padding: rem(5) 0;
        border: 0;
        border-bottom: color('nobel') solid 1px;

        &:focus {
            border-color: color('black');
        }
    }
}
