@import '../../assets/scss/helpers/all';

.header {
    padding: rem(10px) 0;
    background: color('primary');
    color: color('white');
    font-size: rem(20);
    font-weight: font-weight('bold');
    text-transform: uppercase;
}
