@import '../../assets/scss/helpers/all';

.heading {
    &--2 {
        margin-bottom: rem(30);
        color: color('secondary');
        font-size: rem(28);
        text-transform: uppercase;
    }

    &--3 {
        margin-bottom: rem(15);
        color: color('primary');
    }
}
