<div class="repository-list-item" title="{{$ctrl.repository.name}}">
    <h3 class="repository-list-item__name">
        {{$ctrl.repository.name}}
    </h3>

    <ul class="repository-list-item__metas">
        <li class="repository-list-item__meta">
            Homepage: <app-link url="$ctrl.repository.url" target="'_blank'">
                {{$ctrl.repository.url}}
            </app-link>
        </li>
        <li class="repository-list-item__meta">
            Open issues: {{$ctrl.repository.openIssuesCount}}
        </li>
        <li class="repository-list-item__meta">
            Created at: {{$ctrl.repository.createdAt|date: 'yyyy-MM-d'}}
        </li>
    </ul>

    <p class="repository-list-item__description">
        {{$ctrl.repository.description}}
    </p>
</div>
