@import '../../assets/scss/helpers/all';

app-repository-list-item {
    display: block;

    & + & {
        margin-top: rem(15);
        padding-top: rem(15);
        border-top: color('nobel') solid 1px;
    }
}

.repository-list-item {
    &__metas {
        margin: 0;
        margin-top: rem(10);
        padding: 0;
        list-style: none;
    }

    &__meta {
        display: inline-block;
        color: color('gray');
        font-size: rem(12);

        & + & {
            margin-left: rem(5);
        }
    }

    &__description {
        margin-top: rem(15);
        color: color('dusty-gray');
        font-size: rem(14);
        line-height: rem(22);
    }
}
