<div class="repository-issue">
    <h3 class="repository-issue__user">
        {{$ctrl.issue.userName}}
    </h3>

    <p class="repository-issue__content">
        {{$ctrl.issue.content}}
    </p>
</div>
