@import '../../assets/scss/helpers/all';

app-repository-issue {
    display: block;

    & + & {
        margin-top: rem(15);
        padding-top: rem(15);
        border-top: color('nobel') solid 1px;
    }
}

.repository-issue {
    &__content {
        margin-top: rem(10);
        color: color('dusty-gray');
        font-size: rem(14);
        line-height: rem(22);

        word-break: break-all;
    }
}
