<div class="repository-list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <app-heading>
                    Search
                </app-heading>

                <app-text-input
                    label="'Keyword'"
                    model="$ctrl.keyword">
                </app-text-input>
            </div>

            <div class="col-sm-5">
                <app-heading ng-if="$ctrl.keyword">
                    Results for: "{{$ctrl.keyword}}"
                </app-heading>

                <app-repository-list-item
                    ng-repeat="repository in $ctrl.repositories"
                    ng-click="$ctrl.onShowDetails(repository)"
                    repository="repository">
                </app-repository-list-item>
            </div>

            <div class="col-sm-5">
                <div ng-if="$ctrl.selectedRepository" class="repository-details">
                    <app-repository-details
                        repository="$ctrl.selectedRepository">
                    </app-repository-details>
                </div>
            </div>
        </div>
    </div>
</div>
