@import '../../assets/scss/helpers/all';

.loader {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: z-index('modal');

    &__ring {
        width: 50px;
        height: 50px;
        border: 6px solid color('black');
        border-radius: 50%;
        border-color: color('black') transparent transparent transparent;

        animation: rotate .5s cubic-bezier(.5, 0, .5, 1) infinite;
    }

    &--loading {
        display: flex;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
