<div class="repository-details">
    <div class="repository-details__name">
        <app-heading>
            {{$ctrl.repository.name}}
        </app-heading>
    </div>

    <app-heading type="3">
        Issues
    </app-heading>

    <app-repository-issue
        ng-if="$ctrl.repository.issues"
        ng-repeat="issue in $ctrl.repository.issues"
        issue="issue">
    </app-repository-issue>
</div>
