* {
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }
}

html,
body {
    margin: 0;
    color: color('pickled-bluewood');
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    @include respond-to('lg') {
        font-size: 16px;
    }
}

html,
body,
ul,
p,
h1,
h2,
h3 {
    margin: 0;
}
